
body{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}


main{
    background-color: blueviolet;
    height:600px;
    width:300px;
    border-radius: 10px;
    border: 1px solid white;
    flex-direction: column;


}
.cards{
    align-items: center;
    text-align: center;
    padding:10px;
    margin:10px;
    
    align-items: center;
   
    column-gap: 0.75rem;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 1.5rem;
    text-align: center;
}

rt{
    font-size: 18px;
}
ruby{
   font-size: 16px;
   text-align: center;
}
img{
    object-fit: cover;
    border-radius: 50px;;
}